@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

:root {
	font-family: 'Noto Sans', sans-serif !important;
}

body {
	background-color: #eceaea !important;
	font-family: 'Noto Sans', sans-serif !important;
}
