.header_wrapper {
	background: url('./img/header-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.header {
	background: radial-gradient(
		circle,
		rgba(136, 134, 134, 0.356) 38%,
		rgba(180, 180, 180, 0.192) 85%
	);
	text-shadow: 2px 2px #242323c4;
}

.card-img-top {
	width: 100%;
	height: 25vh;
	object-fit: cover;
}

.brand {
	color: #f72424e3;
	text-shadow: 2px 2px #242323ec;
}
