.header_wrapper {
	background: url('./img/header-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.header {
	background: rgba(255, 255, 255, 0.18);
	text-shadow: 2px 2px #242323ec;
}

.card-img-top {
	width: 100%;
	height: 25vh;
	object-fit: cover;
}

.brand {
	color: #ff1616e3;
}
